* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.nav-link:hover {
    color: rgb(255, 40, 40) !important;
}

.navbar-brand {
    letter-spacing: 6px;
}

.navbar-nav {
    margin-left: 50px;
}

.baby {
    background-color: rgb(255, 40, 40);
}

#deer {
    background-color: red;
}

.last:hover {
    color: rgb(60, 190, 250) !important;
}

.pool>a>span {
    color: white;
}

.pool>a>span:hover {
    color: rgb(60, 190, 250);
}

a {
    text-decoration: none !important;
}
.first>a:hover{
    color: rgb(255, 40, 40) !important ;
}
.flower {
    margin-bottom: 40px;
    margin-right: 30px;
}
.first{
    margin-top: 80px;
}